Repository castleridge-io/clawdeck: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, yarn workspace clawdeck test, yarn workspace clawdeck-frontend test:run

refactor: move DB-dependent unit tests to integration folder
  nodejs/tests/integration/adminService.test.js
  nodejs/tests/integration/oauthService.test.js
  nodejs/tests/integration/organizationMiddleware.test.js
  nodejs/tests/integration/organizationService.test.js
  nodejs/tests/integration/runService.test.js
  nodejs/tests/integration/stepService.test.js
  nodejs/tests/integration/storyService.test.js
  nodejs/tests/integration/workflowService.test.js
Due: eslint --fix, prettier --write, yarn workspace clawdeck test

fix: improve e2e test reliability and fix dev login
  .husky/pre-commit
  docker-compose.integration.yml
  e2e/helpers/api.ts
  e2e/playwright-report/data/0ca42fe68a9e482cda54a9f9106d36c90d4fdf73.webm
  e2e/playwright-report/data/1144e12a584a22cab5433787a3e86ab644917231.webm
  e2e/playwright-report/data/31b735303ec74cbec108d0a4cd1fdf35515bc87e.webm
  e2e/playwright-report/data/3911fa8f8dd24bd9b8823d38d0e8889250edb14d.md
  e2e/playwright-report/data/3d01c2ef190c5560df28694327d263ec60753700.png
  e2e/playwright-report/data/3ea66eda793c798ac00f06878b59bfdb5ece81e4.md
  e2e/playwright-report/data/3ecccaecfded291ad2331249498bf98d4e2e2b00.png
  e2e/playwright-report/data/5ad7e39185122420cc3ea7669a837dbee7fabfce.webm
  e2e/playwright-report/data/96b77e54c8a18dfa1d4edef1601de6ffe6d95652.png
  e2e/playwright-report/data/e736bca59844c71935e33e09213174c72e59712a.md
  e2e/playwright-report/data/f33b697e76e5fae46f629d727ed8e2f2b699f5bf.png
  e2e/playwright-report/index.html
  e2e/test-results/.last-run.json
  e2e/test-results/settings-Settings-shows-API-token-section-chromium/error-context.md
  e2e/test-results/settings-Settings-shows-API-token-section-chromium/test-failed-1.png
  e2e/test-results/settings-Settings-shows-API-token-section-chromium/video.webm
  e2e/test-results/settings-Settings-shows-user-profile-section-chromium/error-context.md
  e2e/test-results/settings-Settings-shows-user-profile-section-chromium/test-failed-1.png
  e2e/test-results/settings-Settings-shows-user-profile-section-chromium/video.webm
  e2e/test-results/workflows-Workflows-create-workflow-with-steps-chromium/error-context.md
  e2e/test-results/workflows-Workflows-create-workflow-with-steps-chromium/test-failed-1.png
  e2e/test-results/workflows-Workflows-create-workflow-with-steps-chromium/video.webm
  e2e/test-results/workflows-Workflows-import-workflow-from-YAML-chromium/error-context.md
  e2e/test-results/workflows-Workflows-import-workflow-from-YAML-chromium/test-failed-1.png
  e2e/test-results/workflows-Workflows-import-workflow-from-YAML-chromium/video.webm
  e2e/tests/boards.spec.ts
  e2e/tests/workflow-executor.spec.ts
  e2e/tests/workflows.spec.ts
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/WorkflowsPage.tsx
  nodejs/package.json
  nodejs/src/routes/agent-steps.ts
  nodejs/src/services/run.service.ts
  nodejs/src/test-staged.ts
  nodejs/tests/setup.js
  package-lock.json
  yarn.lock
Due: eslint --fix, prettier --write, yarn workspace clawdeck test, yarn workspace clawdeck-frontend test:run

fix: update pre-commit hook to run only unit tests
  .gitignore
  .husky/pre-commit
  CLAUDE.md
  docker-compose.e2e.yml
  docker-compose.integration.yml
  e2e/helpers/api.ts
  e2e/playwright-report/index.html
  e2e/playwright.config.ts
  e2e/test-results/.last-run.json
  e2e/tests/boards.spec.ts
  nodejs/package.json
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: ignore e2e test artifacts and document pre-commit requirements
  e2e/playwright-report/data/0ca42fe68a9e482cda54a9f9106d36c90d4fdf73.webm
  e2e/playwright-report/data/1144e12a584a22cab5433787a3e86ab644917231.webm
  e2e/playwright-report/data/31b735303ec74cbec108d0a4cd1fdf35515bc87e.webm
  e2e/playwright-report/data/3911fa8f8dd24bd9b8823d38d0e8889250edb14d.md
  e2e/playwright-report/data/3d01c2ef190c5560df28694327d263ec60753700.png
  e2e/playwright-report/data/3ea66eda793c798ac00f06878b59bfdb5ece81e4.md
  e2e/playwright-report/data/3ecccaecfded291ad2331249498bf98d4e2e2b00.png
  e2e/playwright-report/data/5ad7e39185122420cc3ea7669a837dbee7fabfce.webm
  e2e/playwright-report/data/96b77e54c8a18dfa1d4edef1601de6ffe6d95652.png
  e2e/playwright-report/data/e736bca59844c71935e33e09213174c72e59712a.md
  e2e/playwright-report/data/f33b697e76e5fae46f629d727ed8e2f2b699f5bf.png
  e2e/test-results/settings-Settings-shows-API-token-section-chromium/error-context.md
  e2e/test-results/settings-Settings-shows-API-token-section-chromium/test-failed-1.png
  e2e/test-results/settings-Settings-shows-API-token-section-chromium/video.webm
  e2e/test-results/settings-Settings-shows-user-profile-section-chromium/error-context.md
  e2e/test-results/settings-Settings-shows-user-profile-section-chromium/test-failed-1.png
  e2e/test-results/settings-Settings-shows-user-profile-section-chromium/video.webm
  e2e/test-results/workflows-Workflows-create-workflow-with-steps-chromium/error-context.md
  e2e/test-results/workflows-Workflows-create-workflow-with-steps-chromium/test-failed-1.png
  e2e/test-results/workflows-Workflows-create-workflow-with-steps-chromium/video.webm
  e2e/test-results/workflows-Workflows-import-workflow-from-YAML-chromium/error-context.md
  e2e/test-results/workflows-Workflows-import-workflow-from-YAML-chromium/test-failed-1.png
  e2e/test-results/workflows-Workflows-import-workflow-from-YAML-chromium/video.webm
Due: prettier --write

ci: separate unit and integration tests with isolated database
  .github/workflows/ci.yml
Due: prettier --write

ci: use --immutable instead of deprecated --frozen-lockfile
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  docs/TESTING.md
Due: prettier --write

test(e2e): improve test reliability and configuration
  e2e/package.json
  e2e/tests/settings.spec.ts
  e2e/tests/websocket-workflow-events.spec.ts
Due: eslint --fix, prettier --write

test: fix frontend unit tests and upgrade backend to zod v4
  frontend/Dockerfile.dev
  frontend/src/components/StepEditor.test.tsx
  frontend/src/components/StepEditor.tsx
  frontend/src/components/TaskFilters.test.tsx
  frontend/src/pages/LoginPage.test.tsx
  frontend/src/pages/WorkflowsPage.test.tsx
  nodejs/package.json
  nodejs/src/services/oauth.service.ts
  nodejs/src/services/organization.service.ts
  package.json
  yarn.lock
Due: eslint --fix, prettier --write, yarn workspace clawdeck test, yarn workspace clawdeck-frontend test:run

test: align CI with local test commands and convert to static imports
  .github/workflows/ci.yml
  e2e/tests/settings.spec.ts
  e2e/tests/websocket-workflow-events.spec.ts
  nodejs/tests/unit/archiveScheduler.test.js
  nodejs/tests/unit/rateLimiter.test.js
  nodejs/tests/unit/schedulerService.test.js
  nodejs/tests/unit/websocketWorkflowEvents.test.js
  nodejs/tests/unit/workflowExecutorService.test.js
Due: eslint --fix, prettier --write, yarn workspace clawdeck test

test: set VITE_DEV_LOGIN in vitest config for frontend tests
  frontend/vitest.config.ts
Due: eslint --fix, prettier --write, yarn workspace clawdeck-frontend test:run

ci: quote postgres health command to fix docker flag parsing
  .github/workflows/ci.yml
Due: prettier --write

ci: use yarn workspace scripts for backend tests to fix path resolution
  .github/workflows/ci.yml
  nodejs/package.json
Due: prettier --write

fix: use --test-global-setup= syntax for Node 20.20 compatibility
  nodejs/package.json
Due: prettier --write

fix: remove --test-global-setup flag for CI compatibility
  nodejs/package.json
Due: prettier --write

fix: restore missing Prisma migrations for CI integration tests
  nodejs/prisma/migrations/20260209000000_add_project_to_tasks/migration.sql
  nodejs/prisma/migrations/20260209000001_init_schema/migration.sql
  nodejs/prisma/migrations/20260210_add_task_archiving/migration.sql
  nodejs/prisma/migrations/20260213_add_workflow_steps/migration.sql
Due: none

fix: correct migration execution order for CI
  e2e/tests/boards.spec.ts
  nodejs/Dockerfile
  nodejs/prisma/migrations/20260209000000_init_schema/migration.sql
  nodejs/prisma/migrations/20260209000001_add_task_archiving/migration.sql
  nodejs/prisma/migrations/20260209000002_add_workflow_steps/migration.sql
  nodejs/prisma/migrations/20260209000003_add_project_to_tasks/migration.sql
Due: eslint --fix, prettier --write

fix: remove invalid pg_catalog.plpgsql extension from migration
  e2e/tests/boards.spec.ts
  nodejs/prisma/migrations/20260209000000_init_schema/migration.sql
Due: eslint --fix, prettier --write

fix: add workflow tables to init_schema, remove redundant migration
  e2e/tests/boards.spec.ts
  nodejs/prisma/migrations/20260209000000_init_schema/migration.sql
  nodejs/prisma/migrations/20260209000002_add_project_to_tasks/migration.sql
  nodejs/prisma/migrations/20260209000002_add_workflow_steps/migration.sql
Due: eslint --fix, prettier --write

fix: use correct DATABASE_URL format for integration tests
  e2e/tests/boards.spec.ts
  e2e/tests/settings.spec.ts
  e2e/tests/websocket-workflow-events.spec.ts
  e2e/tests/workflows.spec.ts
  nodejs/package.json
  nodejs/tests/setup.js
Due: eslint --fix, prettier --write, yarn workspace clawdeck test

fix: remove --test-global-setup flag for Node.js 20 compatibility
  nodejs/package.json
Due: prettier --write

test: fix e2e tests for boards, settings, and workflows
  e2e/tests/boards.spec.ts
  e2e/tests/settings.spec.ts
  e2e/tests/workflows.spec.ts
Due: eslint --fix, prettier --write

fix: use prisma db push instead of migrate deploy in CI
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
Due: prettier --write

fix: add _prisma_migrations table to initial migration
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  nodejs/prisma/migrations/20260209000000_init_schema/migration.sql
Due: prettier --write

chore: consolidate to single initial migration
  nodejs/prisma/migrations/20260209000001_add_task_archiving/migration.sql
  nodejs/prisma/migrations/20260209000002_add_project_to_tasks/migration.sql
Due: none

feat: convert integration tests to TypeScript
  docker-compose.integration.yml
  eslint.config.ts
  nodejs/package.json
  nodejs/tests/integration/adminService.test.ts
  nodejs/tests/integration/agents.test.ts
  nodejs/tests/integration/archives.test.ts
  nodejs/tests/integration/auth.test.ts
  nodejs/tests/integration/boards.test.ts
  nodejs/tests/integration/oauthService.test.ts
  nodejs/tests/integration/organizationMiddleware.test.ts
  nodejs/tests/integration/organizationService.test.ts
  nodejs/tests/integration/runService.test.ts
  nodejs/tests/integration/settings.test.ts
  nodejs/tests/integration/stepService.test.ts
  nodejs/tests/integration/steps.test.ts
  nodejs/tests/integration/stories.test.ts
  nodejs/tests/integration/storyService.test.ts
  nodejs/tests/integration/tasks.test.ts
  nodejs/tests/integration/workflowService.test.ts
  nodejs/tests/integration/workflows.test.ts
  nodejs/tests/test-helper.ts
  nodejs/tests/test-setup.ts
  prettier.config.ts
Due: eslint --fix, prettier --write, yarn workspace clawdeck test

fix: use MembershipRole enum in seed
  nodejs/src/db/seed.ts
Due: eslint --fix, prettier --write, yarn workspace clawdeck test

fix: use MembershipRole enum type in migration
  nodejs/prisma/migrations/20260209000000_init_schema/migration.sql
  nodejs/tests/test-setup.ts
Due: eslint --fix, prettier --write, yarn workspace clawdeck test

fix: drop and recreate Prisma enums in migration
  nodejs/prisma/migrations/20260209000000_init_schema/migration.sql
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  yarn workspace clawdeck test: any of: nodejs/**/*.{ts,js}
  yarn workspace clawdeck-frontend test:run: any of: frontend/**/*.{ts,tsx}
